*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.col{
    background-color: #006CFA;
    font-size: .7rem;
    border: 1px solid white;
    height: 40px;
}

div.col-green{
    height: 100%;
}

div.col-green p{
    background-color: lime;
    width: 99%;
    height: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.col-white{
    background-color: white;
}

div.col,
div.col-green{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
}


